<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Paint Rubric</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Introduction</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Players will be judged for the painting quality of his or her army during games played for the league. If the player earns full points under “Initial Judging,” they are eligible for up to 15 further points based on painting, conversions, basing, et cetera.  The total points for the rubric is 37 points.  <b>The maximum painting points a player can earn is 30.</b></p>
    </ion-card-content>
  </ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Initial Judging</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <table>
      <tr>
        <td>Points</td><td></td>
      </tr>
      <tr>
        <td>0</td><td><p>There is at least one model in the army that has undercoat as one of its three colors to meet league minimums </p></td>
      </tr>
      <tr>
        <td>8</td><td><p>The army is fully painted, but only to the most basic requirements.</p></td>
      </tr>
      <tr>
        <td>15</td><td><p>Army is fully painted, and is painted beyond the minimum league standard. Give benefit to this unless there are models in the army that have an undercoat as one of the three colors.</p></td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Model Basing</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <table>
      <tr>
        <td>Points</td><td></td>
      </tr>
      <tr>
        <td>0</td><td><p>Bare bases, no flock</p></td>
      </tr>
      <tr>
        <td>2</td><td><p>Basic one flock</p></td>
      </tr>
      <tr>
        <td>4</td><td><p>Multiple flock or highlights with one flock</p></td>
      </tr>
      <tr>
        <td>6</td><td><p>Bases with variety of flock, highlights, and additional elements.</p></td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Conversions</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <table>
      <tr>
        <td>Points</td><td></td>
      </tr>
      <tr>
        <td>0</td><td><p>No conversions of note (none, or just a couple rank and file models have head or arm swaps)</p></td>
      </tr>
      <tr>
        <td>2</td><td><p>Units or character models have multi-kit conversions (head/weapon/bitz swaps).</p></td>
      </tr>
      <tr>
        <td>4</td><td><p>The army has difficult conversions including use of greenstuff for sculpting, putty, plasticard and/or has significant multi-kit conversions for a portion of the army</p></td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-header>
    <ion-card-title>Painting Skills</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <table>
      <tr>
        <td>Points</td><td></td>
      </tr>
      <tr>
        <td>0</td><td><p>No advanced techniques</p></td>
      </tr>
      <tr>
        <td>2</td><td><p>The models incorporate basic highlight/shading</p></td>
      </tr>
      <tr>
        <td>4</td><td><p>The models incorporate layering with highlights or blending (but not seamless)</p></td>
      </tr>
      <tr>
        <td>6</td><td><p>The models have been shaded with seamless blending</p></td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Extras: Display Base</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <table>
      <tr>
        <td>Points</td><td></td>
      </tr>
      <tr>
        <td>0</td><td><p>No center piece model for the army</p></td>
      </tr>
      <tr>
        <td>1</td><td><p>A prepared display base for a center piece model with some flock, painting, etc.</p></td>
      </tr>
      <tr>
        <td>2</td><td><p>An exception display base that blows the judge away – an impressive diorama for center piece model</p></td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Extras: Details</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <table>
      <tr>
        <td>Points</td><td></td>
      </tr>
      <tr>
        <td>0</td><td><p>No extras</p></td>
      </tr>
      <tr>
        <td>1</td><td><p>The army has rough freehand work or transfers for basic unit markings, army marking or squad classification.</p></td>
      </tr>
      <tr>
        <td>2</td><td><p>The army has quality freehand work , clean unit markings, and/or vehicle weathering or quality transfer work for unit, squad or army markings</p></td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>












</ion-content>
