<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="game">
      <ion-icon name="logo-game-controller-b"></ion-icon>
      <ion-label>Game</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="submit">
      <ion-icon name="send"></ion-icon>
      <ion-label>Submit</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="paintRubric">
      <ion-icon name="document"></ion-icon>
      <ion-label>Paint Rubric</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chessClock">
      <ion-icon name="timer"></ion-icon>
      <ion-label>Chess Clock</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
