.clock {
	font-size: 80pt;
	text-align: center;
	cursor: pointer;
}

.lower {
	position:absolute; 
	bottom:0;
}
.rotated {
	-webkit-transform: rotate(-180deg); 
	-moz-transform: rotate(-180deg);
}

.running {
	background-color: green;
}

.expired {
	background-color: red;
}


#reset {
	vertical-align: middle;
	cursor: pointer;
}

